<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <title>task</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container">
            <div class="navbar-brand col-3"><img class="rounded" src="/static/pic/logo2.png" style="height: 40px;width: 75px;">
            </div>
            <div class="collapse navbar-collapse container" id="navbarNav">
                <ul class="navbar-nav col-8 container-fluid row">
                    <li class="nav-item col-3">
                        <a href="#" class="nav-link ">栏目一</a>
                    </li>
                    <li class="nav-item col-3">
                        <a href="#" class="nav-link ">栏目二</a>
                    </li>
                    <li class="nav-item col-3">
                        <a href="#" class="nav-link ">栏目三</a>
                    </li>
                    <li class="nav-item col-3">
                        <a href="#" class="nav-link ">栏目四</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav-1">
                    <ul class="navbar-nav col-auto">
                        <li class="nav-item ">
                            <a href="#"><img src="/static/pic/notification.png" style="width: 26px;height: 26px"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>